ul.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 50px;
}